body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
}
h1{
font-size: 45px;


}

button{

    margin: 20px;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;

}
.claro{
    background-color: aliceblue;
    color: black;
}
.escuro{
background-color: black;
color: white;
}
.fire{
    background-color: red;
    color: orange;
}
.ice{
background-color: aqua;
color: blue;

}
